[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sumopaint
Comment=On-line mage editor, like PaintBrush or Paint.Net
Exec=xdg-open http://www.sumoware.com/paint/#app
Icon=sumopaint
Terminal=false
Categories=Graphics;RasterGraphics;2DGraphics;
MimeType=image/bmp;image/gif;image/x-ico;image/jpeg;image/png;

