[Desktop Entry]
Exec=set-terminal-color
Name=set-terminal-color
Comment=Set MATE terminal color schemas
Type=Application
Icon=applications-system
StartupNotify=false
X-GNOME-Autostart-enabled=true
