[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-CommandsWithParameter=termite "%s"
Icon=utilities-terminal
Name=Termite
X-XFCE-Commands=termite
GenericName=Termite
