/* import css definitions for current theme */
@import url("./theme.css");

#input {
  border: none;
  border-radius: 0px;
}

#text {
  margin-left: 1em;
}

window {
  border: 2px solid @accent_color;
  color: @text_color;
  border-radius: 5px;
}
