[Desktop Entry]
Name=Plank
GenericName=Dock
Comment=Plank. Stupidly simple.
Comment[ar]=بلانك، بسيط بغباء.
Comment[bg]=Plank. Пределно прост.
Comment[bs]=Plank. Glupavo jednostavan.
Comment[ca]=Plank. Estúpidament simple.
Comment[cs]=Plank. Stupidně jednoduchý.
Comment[de]=Plank. Lächerlich einfach.
Comment[el]=Plank. Βλακωδώς απλό.
Comment[en_AU]=Plank. Stupidly simple.
Comment[en_CA]=Plank. Stupidly simple.
Comment[en_GB]=Plank. Stupidly simple.
Comment[eo]=Planko. Stulte simple.
Comment[es]=Plank. Estúpidamente simple.
Comment[et]=Plank, hämmastavalt lihtne.
Comment[eu]=Plank. Inozoentzako ere erabilerraza.
Comment[fi]=Plank. Todella yksinkertainen.
Comment[fr]=Plank. Stupidement simple.
Comment[gd]=Plank. Cho furasta 's a ghabhas.
Comment[gl]=Plank. Estupidamente simple.
Comment[he]=Plank, טפשי עד כמה שזה פשוט
Comment[hr]=Plank. Neviđeno jednostavan
Comment[hu]=Plank. Nagyszerűen egyszerű.
Comment[id]=Plank. Simpel abis.
Comment[it]=Plank. Stupidamente semplice.
Comment[ja]=Plankはバカみたいにシンプルです。
Comment[ka]=Plank. ძალიან მარტივი აი ძალიან
Comment[ko]=플랭크. 어처구니없으리 만치 단순한.
Comment[lv]=Plank. Muļķīgi vienkārši.
Comment[ml]=പ്ലാങ്ക്. അനായാസം.
Comment[nb]=Plank. Uforstandig enkelt.
Comment[nl]=Plank. Belachelijk eenvoudig.
Comment[nn]=Plank. Idiotsikkert
Comment[pl]=Plank. Idiotycznie prosty.
Comment[pt]=Plank. Estupidamente simples.
Comment[pt_BR]=Plank. Estupidamente simples.
Comment[ro]=Plan. Stupid de simplu.
Comment[ru]=Plank. До безумного прост.
Comment[sk]=Plank. Primitívne jednoduchý.
Comment[sl]=Plank. Bedasto preprost.
Comment[sma]=Plank. dle dan aelhkies.
Comment[sr]=Полица. Глупаво једноставна.
Comment[sr@latin]=Polica. Glupavo jednostavna.
Comment[sv]=Plank. Galet enkelt.
Comment[ta]=பிளான்க் மிகவும் எளிது
Comment[te]=ప్లాంక్. చాలా సరళమైనది.
Comment[th]=แพลงค์ ง่ายเหี้ยๆ
Comment[tr]=Plank. Son derece basit.
Comment[uk]=Plank. Просто легкий.
Comment[uz]=Plank. Ahmoqona darajada sodda.
Comment[zh_CN]=Plank. 简单得无语。
Comment[zh_TW]=Plank。極簡。
Categories=Utility;
Type=Application
Exec=plank 
Icon=plank
Terminal=false
NoDisplay=false
