/* i really want this to be global */

.autocomplete-richlistitem
{
    background: #1e1e1e !important;
}

.autocomplete-richlistitem[selected="true"]
{
    background: #8CBC65 !important;
}

.autocomplete-richlistitem[selected="true"]
{
    color: #1e1e1e !important;
}

.ac-normal-text {
  color: #EAEAEA !important;
}

.ac-normal-text:hover {
  color: #1e1e1e !important;
}

.ac-normal-text.ac-url-text {
  color: #2a86f8 !important;
}

.ac-normal-text.ac-url-text:hover {
  color: #bc6576 !important;
}
