[Manjaro CLI Installer]
row=4
col=0

[Beginner User Guide.pdf]
row=3
col=0

[8.6 GB Volume]
row=5
col=0

[4.0 GB Volume]
row=6
col=0

[Trash]
row=2
col=0

[File System]
row=1
col=0

[Home]
row=0
col=0

