<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/  file:///usr/share/openbox/menu.xsd">
  <menu id="root-menu" label="Openbox 3">
    <separator label="Manjaro Openbox"/>
    <item label="Terminal">
      <action name="Execute">
        <command>exo-open --launch TerminalEmulator</command>
      </action>
    </item>
    <item label="File Manager">
      <action name="Execute">
        <command>exo-open --launch FileManager</command>
      </action>
    </item>
    <item label="Web Browser">
      <action name="Execute">
        <command>exo-open --launch WebBrowser</command>
      </action>
    </item>
    <item label="Text Editor">
      <action name="Execute">
        <command>l3afpad</command>
      </action>
    </item>
    <separator/>
    <menu id="accessories" label="Accessories">
      <item label="Calculator">
        <action name="Execute">
          <command>galculator</command>
        </action>
      </item>
      <item label="Archive Manager">
        <action name="Execute">
          <command>xarchiver</command>
        </action>
      </item>
    </menu>
    <menu id="office" label="Office">
      <item label="PDF Viewer">
        <action name="Execute">
          <command>epdfview</command>
        </action>
      </item>
      <item label="Picture Viewer">
        <action name="Execute">
          <command>gpicview</command>
        </action>
      </item>
    </menu>
    <menu id="screenshot" label="Screenshot">
      <item label="Screenshot Now">
        <action name="Execute">
          <command>scrot 'screenshot_%Y%m%d-%H%M%S_$wx$h.png' -e 'mv $f $$(xdg-user-dir PICTURES) ; gpicview $$(xdg-user-dir PICTURES)/$f'</command>
        </action>
      </item>
      <item label="Screenshot in 5">
        <action name="Execute">
          <command>scrot -d 5 'screenshot_%Y%m%d-%H%M%S_$wx$h.png' -e 'mv $f $$(xdg-user-dir PICTURES) ; gpicview $$(xdg-user-dir PICTURES)/$f'</command>
        </action>
      </item>
      <item label="Screenshot in 10">
        <action name="Execute">
          <command>scrot -d 10 'screenshot_%Y%m%d-%H%M%S_$wx$h.png' -e 'mv $f $$(xdg-user-dir PICTURES) ; gpicview $$(xdg-user-dir PICTURES)/$f'</command>
        </action>
      </item>
      <item label="Screenshot With Selection">
        <action name="Execute">
          <command>scrot -s 'screenshot_%Y%m%d-%H%M%S_$wx$h.png' -e 'mv $f $$(xdg-user-dir PICTURES) ; gpicview $$(xdg-user-dir PICTURES)/$f'</command>
        </action>
      </item>
    </menu>
    <separator/>
    <menu execute="manjaro-places-pipemenu --recent ~/" id="pipe-placesmenu" label="Places"/>
    <separator/>
    <menu id="preferences" label="Preferences">
      <menu id="obConfig" label="Openbox">
        <item label="Settings Editor">
          <action name="Execute">
            <command>lxappearance</command>
          </action>
        </item>
        <item label="Menu Editor">
          <action name="Execute">
            <command>kickshaw</command>
          </action>
        </item>
        <item label="Keybind Editor">
          <action name="Execute">
            <command>obkey</command>
          </action>
        </item>
        <item label="Autostart Editor">
          <action name="Execute">
            <command>ob-autostart</command>
          </action>
        </item>
        <separator/>
        <item label="Edit menu.xml">
          <action name="Execute">
            <command>exo-open ~/.config/openbox/menu.xml</command>
          </action>
        </item>
        <item label="Edit rc.xml">
          <action name="Execute">
            <command>exo-open ~/.config/openbox/rc.xml</command>
          </action>
        </item>
        <item label="Edit autostart">
          <action name="Execute">
            <command>exo-open ~/.config/openbox/autostart</command>
          </action>
        </item>
        <separator/>
        <item label="Openbox Reconfigure">
          <action name="Reconfigure"/>
        </item>
        <item label="Openbox Restart">
          <action name="Restart"/>
        </item>
      </menu>
      <menu execute="manjaro-compositor" id="CompositingPipeMenu" label="Compositor"/>
      <menu execute="manjaro-polybar-pipemenu" id="PolybarPipeMenu" label="Polybar"/>
      <menu execute="manjaro-conky-pipemenu" id="ConkyPipeMenu" label="Conky"/>
      <menu execute="manjaro-tint2-pipemenu" id="TintPipeMenu" label="Tint2"/>
      <item label="Panel Chooser">
        <action name="Execute">
          <command>manjaro-panel-chooser</command>
        </action>
      </item>
      <separator/>
      <item label="Wallpaper">
        <action name="Execute">
          <command>nitrogen</command>
        </action>
      </item>
      <item label="Rofi Theme">
        <action name="Execute">
          <command>rofi-theme-selector</command>
        </action>
      </item>
      <separator/>
      <item label="Audio Settings">
        <action name="Execute">
          <command>pavucontrol</command>
        </action>
      </item>
      <item label="Screen Layout">
        <action name="Execute">
          <command>arandr</command>
        </action>
      </item>
    </menu>
    <menu id="system-settings" label="System Settings">
      <item label="Package Manager">
        <action name="Execute">
          <command>termite --exec=pacui</command>
        </action>
      </item>
      <item label="Root File Manager">
        <action name="Execute">
          <command>gksu thunar</command>
        </action>
      </item>
      <item label="GParted">
        <action name="Execute">
          <command>gksu gparted</command>
        </action>
      </item>
    </menu>
    <menu execute="manjaro-help-pipemenu" id="help" label="Help and Info"/>
    <menu execute="manjaro-kb-pipemenu" id="keybinds" label="Keybinds"/>
    <separator/>
    <item label="Switch Menu">
      <action name="Execute">
        <command>switchmenu -dynamic</command>
      </action>"
    </item>
    <separator/>
    <item label="Lock Screen">
      <action name="Execute">
        <command>lockscreen -- scrot</command>
      </action>
    </item>
    <item label="Exit Openbox">
      <action name="Execute">
        <command>rofr.sh -l</command>
      </action>
    </item>
  </menu>
</openbox_menu>
