#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*selectToClipboard: true
XTerm*locale: true
XTerm*metaSendsEscape: true
XTerm*background: #1f1f1f
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
XTerm*faceName: Monospace
XTerm*faceSize: 11
XTerm*scrollBar: true
XTerm*rightScrollBar: true
