Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11

XTerm*background: #ffffff
XTerm*foreground: #1f1f1f
XTerm*reverseVideo: on
XTerm*faceName: Terminus:size=11:antialias=true
XTerm*selectToClipboard: true
