[Desktop Entry]
Type=Application
Name=Play Login Sound
Comment=Plays a sound whenever you log in
Exec=/usr/bin/canberra-gtk-play --id="desktop-login" --description="GNOME Login"
X-GNOME-Autostart-enabled=true
NoDisplay=false
