theme_dir=/usr/share/xfce4/weather/icons/menda-circle
units_temperature=0
units_pressure=0
units_windspeed=0
units_precipitation=0
units_altitude=0
model_apparent_temperature=0
round=true
single_row=true
tooltip_style=1
forecast_layout=1
forecast_days=5
scrollbox_animate=true
show_scrollbox=true
scrollbox_lines=1
scrollbox_color=#000000000000
scrollbox_use_color=false
label0=3
label1=5
label2=17