[Desktop Entry]
Encoding=UTF-8
Type=Link
X-Enlightenment-Type=Removable
X-Enlightenment-Removable-State=Full
Name=MJRO1510
Icon=drive-optical
Comment=Périphérique amovible
URL=file://dev/sr0
