[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=pulseaudio-ctl
Comment=Set Volume to 70%
Exec=/opt/livecd/pulseaudio-ctl-normal
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

