[Desktop Entry]
Version=1.0
Icon=cs-sound
Exec=io.elementary.switchboard settings://sound
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
X-AppStream-Ignore=true
StartupNotify=false

Name=Sound Preferences
Comment=Change sound and microphone volume.

