#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Keep - notes and lists
Exec=/usr/bin/chromium --profile-directory=Default --app-id=hmjkmjkepdijhoojdojkdfohbdgmmhki
Icon=chrome-hmjkmjkepdijhoojdojkdfohbdgmmhki-Default
StartupWMClass=crx_hmjkmjkepdijhoojdojkdfohbdgmmhki
