[Desktop Entry]
Type=Application
Icon=system-file-manager
Name=Home
Name[en_GB]=Home
Name[tr_TR]=Ev Dizini
GenericName=Manjaro User Home Folders
GenericName[en_GB]=Manjaro User Home Folders
Comment=Manjaro User Home Folders
Comment[en_GB]=Manjaro User Home Folders
Categories=FileManager;Utility;Core;GTK;
Exec=pcmanfm %U
StartupNotify=true
Terminal=false
MimeType=inode/directory;inode/directory;
