.panel.maximized {
    background-color: #222222;
}

.menubar.panel menuitem:nth-child(2) image, .panel menuitem spinner {
    -gtk-icon-transform: scale(0.7);
}

.menubar.panel menuitem {
    padding:6px
}

.menubar.panel menuitem label {
    font-size:11pt;
}

.menubar.panel .menuitem, .menubar.panel popover {
    border:0;
}


