[Desktop Entry]
Type=Action
Name=Edit as Root
Name[fr]=Editer en tant que root
Name[de]=Bearbeiten als root
Icon=dialog-password
Profiles=profile-editasroot

[X-Action-Profile profile-editasroot]
MimeTypes=text/plain
TryExec=leafpad
Exec=gksu leafpad %f
Name=Default profile

