[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/matti/Desktop/steam.desktop]
row=4
col=0

[B4D48115D480DB4E]
row=5
col=0

[28C2B3001653D143]
row=6
col=0

[5CE27C8EE27C6E60]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/matti]
row=3
col=0

