[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[B6BA44F7BA44B621]
row=0
col=0

[6cc46fbe-dcec-4525-846b-97d269bde706]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/matti]
row=4
col=0

