[Desktop Entry]
Type=Action
Name=Edit as Root
Name[fr]=Editer en tant que root
Name[de]=Bearbeiten als root
Icon=dialog-password
Profiles=profile-editasroot;profile-editasroot2;

[X-Action-Profile profile-editasroot]
MimeTypes=text/*;
TryExec=leafpad
Exec=gksudo leafpad %f
Name=Default profile

[X-Action-Profile profile-editasroot2]
MimeTypes=application/x-desktop;
Exec=gksudo leafpad %f
Name=Default profile
