[Desktop Entry]
Name=Install Sonar Linux
GenericName=Live Installer (Calamares)
Comment=Install the operating system to disk
Exec=sudo /usr/bin/calamares
Icon=calamares
Terminal=False
Type=Application
Categories=System;
