[Desktop Entry]
Name=Install Manjaro Linux
GenericName=Live Installer
Comment=Install the operating system to disk
Exec=/usr/bin/thus
Icon=/usr/share/thus/data/images/manjaro/manjaro-icon.png
Terminal=False
Type=Application
Categories=System;
