[Desktop Entry]
Exec=qlipper
Name=Qlipper
Name[ar]=ذاكرة الحافظة
Name[cs]=Schránka
Name[cs_CZ]=Schránka
Name[da]=Klippebord
Name[da_DK]=Qlipper
Name[de_DE]=Qlipper
Name[el_GR]=Qlipper
Name[eo]=Qlipilo
Name[es]=Qlipper
Name[es_VE]=Qlipper
Name[eu]=Qlipper
Name[fi]=Qlipper
Name[fr_FR]=Qlipper
Name[id_ID]=Qlipper
Name[it_IT]=Qlipper
Name[ja]=Qlipper
Name[lt]=Qlipper
Name[nl]=Qlembord
Name[pl_PL]=Qlipper
Name[pt]=Qlipper
Name[pt_BR]=Qlipper
Name[ro_RO]=Qlipper
Name[ru]=Qлиппер
Name[ru_RU]=Qlipper
Name[sl]=Qlipper
Name[sr@ijekavian]=Кјулипер
Name[sr@ijekavianlatin]=Kjuliper
Name[sr@latin]=Kjuliper
Name[sr]=Кјулипер
Name[th_TH]=Qlipper
Name[tr]=Qlipper
Name[uk]=Qlipper
Name[zh_CN]=Qlipper
Name[zh_TW]=剪貼簿
OnlyShowIn=LXQt;
TryExec=qlipper
Type=Application
X-LXQt-Need-Tray=true
Hidden=true
