[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=pulseaudio-ctl
Comment=Set Volume to 70%
Exec=pulseaudio-ctl-normal
StartupNotify=false
Terminal=false
Hidden=false

