#
# ~/.xprofile
#
# sourced by /etc/lxdm/Xsession
#


# Check if if the standard Home directories exist (Documents, Downloads, etc.), and
# if not, then create them
if [ -x /usr/bin/xdg-user-dirs-update ] ; then
    /usr/bin/xdg-user-dirs-update
fi