[Desktop Entry]
Version=1.0
Name=Avahi SSH Server Browser
Name[bg]=Преглед с Avahi на сървърите за SSH
Name[ca]=Navegador de servidors SSH Avahi
Name[da]=Avahibrowser for SSH-server
Name[de]=Avahi SSH Server Browser
Name[en_GB]=Avahi SSH Server Browser
Name[en_NZ]=Avahi SSH Server Browser
Name[es]=Examinador de servidores SSH de Avahi
Name[fi]=Avahin SSH-palvelinselain
Name[fo]=Avahi SSH-tænastu kagi
Name[fr]=Explorateur de serveur SSH Avahi
Name[gl]=Navegador de servidores SSH de Avahi
Name[hu]=Avahi SSH-kiszolgálóböngésző
Name[id]=Peramban Server SSH Avahi
Name[it]=Esploratore Avahi per server SSH
Name[ja]=Avahi SSH サーバの検索
Name[pl]=Przeglądarka serwerów SSH Avahi
Name[pt_BR]=Navegador de servidores SSH do Avahi
Name[ro]=Navigator de servere SSH Avahi
Name[ru]=Навигатор Avahi по серверам SSH
Name[sl]=Avahi brskalnik strežnika SSH
Name[sr]=Претраживач Авахи SSH сервера
Name[sr@latin]=Pretraživač Avahi SSH servera
Name[sv]=Avahi SSH-serverbläddrare
Name[uk]=Переглядач серверів SSH Avahi
Name[zh_CN]=Avahi SSH服务器浏览器
Name[zh_TW]=Avahi SSH 伺服器瀏覽程式
Comment=Browse for Zeroconf-enabled SSH Servers
Comment[bg]=Преглед на сървърите за SSH с улеснение
Comment[ca]=Explora els servidors SSH configurats amb Zeroconf
Comment[da]=Gennemse for Zeroconf-aktiverede SSH-servere
Comment[de]=Durchsuchen nach Zeroconf-aktivierten SSH-Servern
Comment[en_GB]=Browse for Zeroconf-enabled SSH Servers
Comment[en_NZ]=Browse for Zeroconf-enabled SSH Servers
Comment[es]=Examinar servidores SSH con zeroconf activado
Comment[fi]=Selaa Zeroconf-varustettuja SSH-palvelimia
Comment[fo]=Kaga eftir Zeroconf-virkjaðum SSH-ambætarum
Comment[fr]=Explorer les serveurs SSH avec Zeroconf activé
Comment[gl]=Navegar por servidores SSH con Zeroconf activado
Comment[hu]=Zeroconf-képes SSH kiszolgálók keresése
Comment[id]=Meramban Server SSH Teraktifkan-Zeroconf
Comment[it]=Esplora i server SSH con Zeroconf abilitato
Comment[ja]=Zeroconf を有効にした SSH サーバを検索
Comment[pl]=Przeglądanie serwerów SSH z włączonym Zeroconf
Comment[pt_BR]=Procurar por Servidores SSH com o Zeroconf Habilitado
Comment[ro]=Navighează servere SSH având activat Zeroconf
Comment[ru]=Просмотр списка серверов SSH с включённой службой Zeroconf
Comment[sl]=Brskanje med omogočenimi strežniki Zeroconf SSH
Comment[sr]=Претражујем SSH сервере на којима је омогућен Zeroconf
Comment[sr@latin]=Pretražujem SSH servere na kojima je omogućen Zeroconf
Comment[sv]=Bläddra efter Zeroconf-aktiverade SSH-servrar
Comment[uk]=Перегляд серверів SSH з увімкненим Zeroconf
Comment[zh_CN]=浏览具有Zeroconf功能的SSH服务器
Comment[zh_TW]=瀏覽啟用 Zeroconf 的 SSH 伺服器
Exec=/usr/bin/bssh
Terminal=false
Type=Application
Icon=network-wired
Categories=GNOME;Network;
StartupNotify=false
GenericName=
NoDisplay=true
