[Desktop Entry]
Version=1.0
Name=Avahi VNC Server Browser
Name[bg]=Преглед с Avahi на сървърите за VNC
Name[ca]=Navegador de servidors VNC Avahi
Name[da]=Avahibrowser for VNC-server
Name[de]=Avahi VNC-Server-Browser
Name[en_GB]=Avahi VNC Server Browser
Name[en_NZ]=Avahi VNC Server Browser
Name[es]=Examinador de servidores VNC de Avahi
Name[fi]=Avahin VNC-palvelinselain
Name[fo]=Avahi VNC-tænastu kagi
Name[fr]=Explorateur de serveurs VNC Avahi 
Name[gl]=Navegador de servidores VNC de Avahi
Name[hu]=Avahi VNC-kiszolgálóböngésző
Name[id]=Peramban Server VNC Avahi
Name[it]=Esploratore Avahi per server VNC
Name[ja]=Avahi VNC サーバの検索
Name[pl]=Przeglądarka serwerów VNC Avahi
Name[pt_BR]=Navegador de servidores VNC do Avahi
Name[ro]=Navigator Avahi de server VNC
Name[ru]=Навигатор Avahi по серверам VNC
Name[sl]=Avahi brskalnik strežnika VNC
Name[sr]=Претраживач Авахи VNC сервера
Name[sr@latin]=Pretraživač Avahi VNC servera
Name[sv]=Avahi VNC-serverbläddrare
Name[uk]=Переглядач серверів VNC Avahi
Name[zh_CN]=Avahi VNC服务器浏览器
Name[zh_TW]=Avahi VNC 伺服器瀏覽程式
Comment=Browse for Zeroconf-enabled VNC Servers
Comment[bg]=Преглед на сървърите за VNC с улеснение
Comment[ca]=Explora els servidors de VNC configurats amb Zeroconf
Comment[da]=Gennemse for Zeroconf-aktiverede VNC-servere
Comment[de]=Durchsuchen nach Zeroconf-aktivierten VNC-Servern
Comment[en_GB]=Browse for Zeroconf-enabled VNC Servers
Comment[en_NZ]=Browse for Zeroconf-enabled VNC Servers
Comment[es]=Examinar servidores VNC con zeroconf activado
Comment[fi]=Selaa Zeroconf-varustettuja VNC-palvelimia
Comment[fo]=Kaga eftir Zeroconf-virkjaðum VNC-ambætarum
Comment[fr]=Explorer les serveurs VNC avec Zeroconf activé
Comment[gl]=Navegar por servidores VNC con Zeroconf activado
Comment[hu]=Zeroconf-képes VNC kiszolgálók keresése
Comment[id]=Meramban Server VNC Teraktifkan-Zeroconf
Comment[it]=Esplora i server VNC con Zeroconf abilitato
Comment[ja]=Zeroconf を有効にした VNC サーバを検索
Comment[pl]=Przeglądanie serwerów VNC z włączonym Zeroconf
Comment[pt_BR]=Procurar por Servidores VNC com Zeroconf Habilitado
Comment[ro]=Navigheză serverele VNC având activat Zeroconf
Comment[ru]=Просмотр списка серверов VNC с включённой службой Zeroconf
Comment[sl]=Brskanje med omogočenimi strežniki Zeroconf VNC
Comment[sr]=Претражујем VNC сервере на којима је омогућен Zeroconf
Comment[sr@latin]=Pretražujem VNC servere na kojima je omogućen Zeroconf
Comment[sv]=Bläddra efter Zeroconf-aktiverade VNC-servrar
Comment[uk]=Перегляд серверів VNC з увімкненим Zeroconf
Comment[zh_CN]=浏览具有Zeroconf功能的VNC服务器
Comment[zh_TW]=瀏覽啟用 Zeroconf 的 VNC 伺服器
Exec=/usr/bin/bvnc
Terminal=false
Type=Application
Icon=network-wired
Categories=GNOME;Network;
StartupNotify=false
GenericName=
NoDisplay=true
