#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=preferences-system-windows-effect-coverswitch
Icon[en_US]=preferences-system-windows-effect-coverswitch
Name[en_US]=Bspwm settings
Exec=bspwmrc
Comment[en_US]=Edit bspwmrc
Name=Bspwm
Comment=Edit bspwmrc
