<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/">
	<menu id="root-menu" label="Applications">
		<item label="Run">
			<action name="Execute">
				<execute>gmrun</execute>
			</action>
		</item>
		<item label="Terminal">
			<action name="Execute">
				<execute>sakura</execute>
			</action>
		</item>
		<item label="Explorer">
			<action name="Execute">
				<execute>spacefm</execute>
			</action>
		</item>
		<item label="Browser">
			<action name="Execute">
				<execute>midori</execute>
			</action>
		</item>
		<menu id="client-list-menu"/>
		<item label="Background">
			<action name="Execute">
				<execute>nitrogen /usr/share/backgrounds</execute>
				</action>
			</item>
			<item label="Screenshot">
			<action name="Execute">
				<execute>gnome-screenshot</execute>
				</action>
			</item>
		<separator/>
		<menu id="Install Manjaro" label="Install Manjaro">
			<item label="Install Graphical">
				<action name="Execute">
					<execute>sudo thus</execute>
				</action>
			</item>
			<item label="Install CLI">
				<action name="Execute">
					<execute>sudo xterm /usr/bin/setup</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="Accessories" label="Accessories">
			<item label="Application Finder">
				<action name="Execute">
					<execute>gmrun</execute>
				</action>
			</item>
			<item label="Catfish Search">
				<action name="Execute">
					<execute>catfish</execute>
				</action>
			</item>
			<item label="ClipIt Manager">
				<action name="Execute">
					<execute>clipit</execute>
				</action>
			</item>
			<item label="Leafpad Editor">
				<action name="Execute">
					<execute>leafpad</execute>
				</action>
			</item>
			<item label="Root Terminal">
				<action name="Execute">
					<execute>gksu sakura</execute>
				</action>
			</item>
			<item label="Root Explorer">
				<action name="Execute">
					<execute>gksu spacefm</execute>
				</action>
			</item>
			<item label="Xarchiver Compact">
				<action name="Execute">
					<execute>xarchiver</execute>
				</action>
			</item>
		</menu>
		<menu id="Graphics" label="Graphics">
			<item label="Viewnior Image">
				<action name="Execute">
					<execute>viewnior</execute>
				</action>
			</item>
		</menu>
		<menu id="Multimedia" label="Multimedia">
			<item label="SMPlayer Video">
				<action name="Execute">
					<execute>smplayer</execute>
				</action>
			</item>
			<item label="LXMusic">
				<action name="Execute">
					<execute>lxmusic</execute>
				</action>
			</item>
			<item label="Xfburn CD/DVD">
				<action name="Execute">
					<execute>xfburn</execute>
				</action>
			</item>
		</menu>
		<menu id="Network" label="Network">
			<item label="Avahi SSH">
				<action name="Execute">
					<execute>/usr/bin/bssh</execute>
				</action>
			</item>
			<item label="Avahi VNC">
				<action name="Execute">
					<execute>/usr/bin/bvnc</execute>
				</action>
			</item>
			<item label="Midori Browser">
				<action name="Execute">
					<execute>midori</execute>
				</action>
			</item>
			<item label="xChat IRC">
				<action name="Execute">
					<execute>xchat</execute>
				</action>
			</item>
		</menu>
		<menu id="Office" label="Office">
			<item label="AbiWord Writer">
				<action name="Execute">
					<execute>abiword</execute>
				</action>
			</item>
			<item label="Gnumeric Calc">
				<action name="Execute">
					<execute>gnumeric</execute>
				</action>
			</item>
			<item label="Google Docs">
				<action name="Execute">
					<execute>midori https://drive.google.com/</execute>
				</action>
			</item>
			<item label="Xournal Reader">
				<action name="Execute">
					<execute>xournal</execute>
				</action>
			</item>
		</menu>
		<menu id="Settings" label="Settings">
			<item label="Bluetooth Adapters">
				<action name="Execute">
					<execute>blueman-adapters</execute>
				</action>
			</item>
			<item label="Bluetooth Manager">
				<action name="Execute">
					<execute>blueman-manager</execute>
				</action>
			</item>
			<item label="Customize Visual">
				<action name="Execute">
					<execute>lxappearance</execute>
				</action>
			</item>
			<item label="Nitrogen Wall">
			<action name="Execute">
				<execute>nitrogen /usr/share/backgrounds</execute>
				</action>
			</item>
			<item label="Manjaro Settings Manager">
				<action name="Execute">
					<execute>gksu manjaro-settings-manager-gui</execute>
				</action>
			</item>
			<item label="Monitor Settings">
				<action name="Execute">
					<execute>lxrandr</execute>
				</action>
			</item>
			<item label="Network Connections">
				<action name="Execute">
					<execute>nm-connection-editor</execute>
				</action>
			</item>
			<item label="Preferred Applications">
				<action name="Execute">
					<execute>exo-preferred-applications</execute>
				</action>
			</item>
			<item label="Privilege Granting">
				<action name="Execute">
					<execute>gksu-properties</execute>
				</action>
			</item>
		</menu>
		<menu id="System" label="System">
			<item label="Pamac Manager">
				<action name="Execute">
					<execute>pamac-manager</execute>
				</action>
			</item>
			<item label="Pamac Update">
				<action name="Execute">
					<execute>pamac-updater</execute>
				</action>
			</item>
			<item label="Avahi Zeroconf">
				<action name="Execute">
					<execute>/usr/bin/avahi-discover</execute>
				</action>
			</item>
			<item label="SpaceFM Explorer">
				<action name="Execute">
					<execute>spacefm</execute>
				</action>
			</item>
			<item label="GParted HD">
				<action name="Execute">
					<execute>/usr/bin/gparted_polkit</execute>
				</action>
			</item>
			<item label="Htop Process">
				<action name="Execute">
					<execute>xterm -e 'htop'</execute>
				</action>
			</item>
			<item label="Manage Printing">
				<action name="Execute">
					<execute>/usr/bin/xdg-open http://localhost:631/</execute>
				</action>
			</item>
			<item label="Medit Editor">
				<action name="Execute">
					<execute>medit</execute>
				</action>
			</item>
			<item label="Nano Editor">
				<action name="Execute">
					<execute>sakura -x nano</execute>
				</action>
			</item>
			<item label="Sakura Terminal">
				<action name="Execute">
					<execute>sakura</execute>
				</action>
			</item>
			<item label="GUFW Firewall">
				<action name="Execute">
					<execute>gksu gufw</execute>
				</action>
			</item>
		<menu id="Script All" label="Script All">
			<item label="AUR">
				<action name="Execute">
					<execute>gksu xterm ~/.scripts/aur.sh</execute>
				</action>
			</item>
		<item label="Multimedia">
				<action name="Execute">
					<execute>gksu xterm ~/.scripts/multimedia.sh</execute>
				</action>
			</item>
		<item label="OpenJDK">
				<action name="Execute">
					<execute>gksu xterm ~/.scripts/java.sh</execute>
				</action>
			</item>
		<item label="Printing">
				<action name="Execute">
					<execute>gksu xterm ~/.scripts/printing.sh</execute>
				</action>
			</item>
		<item label="Firewall">
				<action name="Execute">
					<execute>gksu xterm ~/.scripts/firewall.sh</execute>
				</action>
			</item>
		</menu>
	  </menu>
		<separator/>
	<menu id="places" label="Places" execute="~/.config/pipemenu/cb-places-pipemenu" />
		<separator/>
		<menu id="Configure" label="Configure">
			<item label="Manager Dunst">
				<action name="Execute">
					<execute>leafpad ~/.config/dunst/dunstrc</execute>
				</action>
			</item>		
			<item label="Setting Tint2">
				<action name="Execute">
					<execute>leafpad ~/.config/tint2/tint2rc</execute>
				</action>
			</item>
			<item label="Manager Conky">
				<action name="Execute">
					<execute>leafpad ~/.conkyrc</execute>
				</action>
			</item>			
			<item label="Setting Tintwizard">
				<action name="Execute">
					<execute>tintwizard</execute>
				</action>
			</item>
			<menu id="Openbox" label="Openbox">
				<item label="Reconfigure">
					<action name="Execute">
						<execute>openbox --reconfigure</execute>
					</action>
				</item>
				<item label="Autostart">
					<action name="Execute">
						<execute>leafpad ~/.config/openbox/autostart</execute>
					</action>
				</item>
				<item label="RC">
					<action name="Execute">
						<execute>leafpad ~/.config/openbox/rc.xml</execute>
					</action>
				</item>
				<item label="Menu">
					<action name="Execute">
						<execute>leafpad ~/.config/openbox/menu.xml</execute>
					</action>
				</item>
				<separator/>
				<item label="Obmenu">
					<action name="Execute">
						<execute>obmenu</execute>
					</action>
				</item>
				<item label="Obconf">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
				</item>
				<item label="Obkey">
				<action name="Execute">
					<execute>obkey</execute>
					</action>
				</item>
		</menu>
			</menu>
		<separator/>
		<menu id="Session" label="Session">
			<item label="Logout">
				<action name="Execute">
					<execute>openbox --exit</execute>
				</action>
			</item>
			<item label="Restart">
				<action name="Execute">
					<execute>systemctl reboot</execute>
				</action>
			</item>
			<item label="Suspend">
				<action name="Execute">
					<execute>systemctl suspend</execute>
				</action>
			</item>
			<item label="Shutdown">
				<action name="Execute">
					<execute>systemctl poweroff</execute>
				</action>
			</item>
			<item label="Lock">
				<action name="Execute">
					<execute>slock</execute>
				</action>
			</item>
	</menu>
</openbox_menu>
