#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=pidgin
Name[en_US]=ask for help online
Exec=pidgin -c /etc/purple/
Comment[en_US]=connects to the sonar and talking Arch channels for assistance
Name=ask for help online
Comment=connects to the sonar and talking Arch channels for assistance
Icon=pidgin
