[SddmGreeterTheme]
Name=Manjaro
Description=Manjaro SDDM Theme
Author=oberon
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
#Screenshot=maldives.jpg
#TranslationsDirectory=translations
Email=oberon@manjaro.org
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=manjaro
Theme-API=2.0
